[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
bandit = "*"
coverage = "*"
django-debug-toolbar = "*"
django-debug-toolbar-request-history = "*"
django-naomi = "*"
isort = "*"
model-mommy = "*"
pre-commit = "*"
safety = "*"
rope = "*"
coreapi-cli = "*"
black = "==21.5b0"
autoflake = "*"
mypy = "*"
pylint = "*"

[packages]
django = "*"
celery = {extras = ["redis"]}
django-model-utils = "*"
django-js-reverse = "*"
django-import-export = "*"
python-decouple = "*"
brotlipy = "*"
django-log-request-id = "*"
dj-database-url = "*"
gunicorn = "*"
whitenoise = "*"
psutil = "*"
ipython = "*"
django-guardian = "*"
rules = "*"
django-private-storage = "*"
djangorestframework = "*"
"django-tables2" = "*"
django-filter = "*"
"psycopg2-binary" = "*"
django-crispy-forms = "*"
pandas = "*"
django-rest-framework-rules = "*"
django-cors-headers = "*"
scikit-learn = "*"
numpy = "*"
scipy = "*"
coreapi = "*"
django-datatables-view = "*"
python-magic = "*"
django-rest-auth = "*"
djangorestframework-camel-case = "*"
joblib = "*"
django-markdownx = "*"
django-crequest = "*"
beautifulsoup4 = "*"
jsonfield2 = "*"
six = "*"
django-webpack-loader = {ref = "Fix_with_latest_bundle_tracker_version", git = "https://github.com/gbalaratnaswamy/django-webpack-loader"}

[requires]
python_version = "3.9"

[scripts]
start = "python manage.py runserver"
test = "coverage run manage.py test"
coverage = "coverage html"
