{% extends "base_simple.html" %}

{% comment %}
#=================================================================================================
# Project: CADS/MADS - An Integrated Web-based Visual Platform for Materials Informatics
#          Hokkaido University (2018)
# ________________________________________________________________________________________________
# Authors: Jun Fujima (Former Lead Developer) [2018-2021]
#          Mikael Nicander Kuwahara (Current Lead Developer) [2021-]
# ________________________________________________________________________________________________
# Description: (Django) the template for the Registration reset password page of the web application
# ------------------------------------------------------------------------------------------------
# Notes:  This is the registration reset password template file
# ------------------------------------------------------------------------------------------------
# References: extends 'base_simple.html' from the main templates folder of the application
#=================================================================================================
{% endcomment %}

{% block title %}Password reset - {{PROJECT_NAME_ABBR}}{% endblock %}


{% block content %}

<h2 class="ui image header">Reset password</h2>

<div>
    <p>Enter your email address:</p>
</div>

<form class="ui large form" action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <p>{{ form.email }}</p>
    <input class="negative ui fluid button" type="submit" class="btn btn-default btn-lg" value="Reset password" />
</form>

{% endblock %}
