{% extends "base_simple.html" %}

{% block title %}Password reset - {{PROJECT_NAME_ABBR}}{% endblock %}


{% block content %}

<h2 class="ui image header">Reset password</h2>

<div>
    <p>Enter your email address:</p>
</div>

<form class="ui large form" action="" method="post">{% csrf_token %}
    {% if form.email.errors %} {{ form.email.errors }} {% endif %}
        <p>{{ form.email }}</p> 
    <input class="negative ui fluid button" type="submit" class="btn btn-default btn-lg" value="Reset password" />
</form>

{% endblock %}