/*=================================================================================================
// Project: CADS/MADS - An Integrated Web-based Visual Platform for Materials Informatics
//          Hokkaido University (2018)
//          Last Update: Q3 2023
// ________________________________________________________________________________________________
// Authors: Mikael Nicander Kuwahara (Lead Developer) [2021-]
// ________________________________________________________________________________________________
// Description: This is the CSS styles for the 'cads_component_template' component
// ------------------------------------------------------------------------------------------------
// Notes: 'cads_component_template' is a component that draws a network of nodes, and this css file
//        control some of the display aspects of that graph.
// ------------------------------------------------------------------------------------------------
// References: None
=================================================================================================*/

/*-----------------------------------------------------------------------------------------------*/
.compBody {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}
/*-----------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------*/
.compH1Style {
  font-style: italic;
  color: #ff00b3;
  text-shadow: rgb(0, 0, 0) 2px 2px 5px;
}
/*-----------------------------------------------------------------------------------------------*/
