/*=================================================================================================
// Project: CADS/MADS - An Integrated Web-based Visual Platform for Materials Informatics
//          Hokkaido University (2018)
//          Last Update: Q3 2023
// ________________________________________________________________________________________________
// Authors: Mikael Nicander Kuwahara (Lead Developer) [2021-]
// ________________________________________________________________________________________________
// Description: This is the CSS styles for the 'NodeGraph' component
// ------------------------------------------------------------------------------------------------
// Notes: 'NodeGraph' is a component that draws a network of nodes, and this css file control some
//        of the display aspects of that graph.
// ------------------------------------------------------------------------------------------------
// References: None
=================================================================================================*/

/*-----------------------------------------------------------------------------------------------*/
.tfBody {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}
/*-----------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------*/
.tfh1 {
  font-style: italic;
  color: #FF6F00;
}
/*-----------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------*/
.tfvideo {
  clear: both;
  display: block;
  margin: 10px;
  background: #000000;
  width: 640px;
  height: 480px;
}
/*-----------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------*/
.tfbutton {
  padding: 10px;
  float: left;
  margin: 5px 3px 5px 10px;
}
/*-----------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------*/
.tfol {
  clear: both;
  margin-top: 90px;
}
/*-----------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------*/
.removed {
  display: none;
}
/*-----------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------*/
#status {
  font-size:150%;
}
/*-----------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------*/
.tfmain {
  width: 70%;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*-----------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------*/
.tfsection {
  margin: 2rem 1rem;
}
/*-----------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------*/
.file-group {
  padding: 1rem;
  background: #efefef;
  border-radius: 1rem;
}
/*-----------------------------------------------------------------------------------------------*/


/*-----------------------------------------------------------------------------------------------*/
.image-section {
  display: none;
  position: relative;
}
/*-----------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------*/
.any-section {
  display: none;
}
/*-----------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------*/
.image-section::before {
  content: "";
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(transparent, transparent, #000000);
}
/*-----------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------*/
.image-prediction {
  position: absolute;
  bottom: 1rem;
  text-align: center;
  font-size: 18px;
  color: #fff;
  left: 0;
  right: 0;
  z-index: 3;
}
/*-----------------------------------------------------------------------------------------------*/
