{% extends "base.html" %}

{% comment %}
#=================================================================================================
# Project: CADS/MADS - An Integrated Web-based Visual Platform for Materials Informatics
#          Hokkaido University (2018)
#          Last Update: Q3 2023
# ________________________________________________________________________________________________
# Authors: Mikael Nicander Kuwahara (Lead Developer) [2021-]
#          Jun Fujima (Former Lead Developer) [2018-2021]
# ________________________________________________________________________________________________
# Description: (Django) Frontside template for the 'DataManagement' page involving delete
               datasource
# ------------------------------------------------------------------------------------------------
# Notes:  This is one of the template files for the 'datamanagement' interface of the website.
# ------------------------------------------------------------------------------------------------
# References: extends 'base.html' from the main templates folder of the application
#=================================================================================================
{% endcomment %}

{% block title %}Delete Data Source - {{ PROJECT_NAME_ABBR }}{% endblock %}


{% block content %}

<h2>Delete Data Source</h2>

<p>Do you want to delete the data source?</p>

<form method="post">
    <button class="ui red button">Delete</button>
    {% csrf_token %}
</form>

<hr>


{% endblock %}
