{% extends "base.html" %}

{% comment %}
#=================================================================================================
# Project: CADS/MADS - An Integrated Web-based Visual Platform for Materials Informatics
#          Hokkaido University (2018)
# ________________________________________________________________________________________________
# Authors: Jun Fujima (Former Lead Developer) [2018-2021]
#          Mikael Nicander Kuwahara (Current Lead Developer) [2021-]
# ________________________________________________________________________________________________
# Description: (Django) Frontside template for the 'Analysis' page involving index start
# ------------------------------------------------------------------------------------------------
# Notes:  This is one of the template files for the 'analysis' interface of the website.
# ------------------------------------------------------------------------------------------------
# References: extends 'base.html' from the main templates folder of the application
#=================================================================================================
{% endcomment %}

{% load render_table from django_tables2 %}
{% load static %}

{% block title %}
Analysis - {{PROJECT_NAME_ABBR}}
{% endblock %}

{% block local_style %}
<style>
    table.table thead th.sortable {
        background: #f9fafb url({% static 'images/icons/sort_both.png' %}) no-repeat center right;
    }
    table.table thead th.asc {
        background: #f9fafb url({% static 'images/icons/sort_asc.png' %}) no-repeat center right;
    }
    table.table thead th.desc {
        background: #f9fafb url({% static 'images/icons/sort_desc.png' %}) no-repeat center right;
     }
</style>
{% endblock %}


{% block content %}

<h2>Analysis</h2>

{% comment %} <h3><span style="color: red; font-weight: bold;">Importand Note:</span> After a recent update of Analysis Interface with many improvements, it seems like old Workspaces cannot be loaded properly. Making new ones for saving and loading works perfectly and this problem only effects Workspaces created before the new update. Please be patient while a patch is being made, and avoid loading old Workspaces.</h3> {% endcomment %}

<p>You have access to the following workspaces:</p>
<ul>
    <li><strong>Owned:</strong> {{ num_of_owned }}</li>
    <li><strong>Shared:</strong> {{ num_of_shared }}</li>
</ul>

<div class="ui secondary  menu">
    <div class="item">
        {% if filter %}
        <form action="" method="get" class="form form-inline">
            <div class="ui action input">
                {{ filter.form.name }}
                <button class="ui button">Apply Filter</button>
            </div>
        </form>
        {% endif %}
    </div>

    <div class="right item">
        <a class="ui blue button" href="{% url 'analysis:workspace-new' %}">New analysis</a>
    </div>
</div>

{% render_table table 'django_tables2/semantic.html' %}

<hr>

{% endblock %}
