{% extends "base_workspace.html" %}

{% load ex_filters %}

{% block title %}Analysis - {{PROJECT_NAME_ABBR}}{% endblock %}

{% comment %} {% load static %}
<link rel=”stylesheet” href="{% static 'vendors/chem-doodle/ChemDoodleWeb.css' %}" />
<script src="{% static 'vendors/chem-doodle/ChemDoodleWeb.js' %}"></script> {% endcomment %}

{% block local_style %}
<style>
  .workspace {
    {% comment %} background-color: lightblue; {% endcomment %}
  }

  #mads-cmv {
    padding: 10px;
  }
</style>
{% endblock %}

{% block content %}

<div class="workspace">

<div id="mads-cmv"></div>


</div>


<script>
  window.workspaceId = '{{object.id}}';
</script>

{% endblock %}
