{% extends "base.html" %}

{% comment %}
#=================================================================================================
# Project: CADS/MADS - An Integrated Web-based Visual Platform for Materials Informatics
#          Hokkaido University (2018)
#          Last Update: Q3 2023
# ________________________________________________________________________________________________
# Authors: Mikael Nicander Kuwahara (Lead Developer) [2021-]
#          Jun Fujima (Former Lead Developer) [2018-2021]
# ________________________________________________________________________________________________
# Description: (Django) Frontside template for the 'Downloads & More' page involving index start
# ------------------------------------------------------------------------------------------------
# Notes:  This is one of the template files for the 'More' interface of the website.
# ------------------------------------------------------------------------------------------------
# References: extends 'base.html' from the main templates folder of the application
#=================================================================================================
{% endcomment %}

{% load static %}

{% block title %}
Downloads & More - {{PROJECT_NAME_ABBR}}
{% endblock %}

{% block content %}


<h2>Downloads & More</h2>

<hr>

<p>
  <span style="font-weight: bold; font-size: 20px; color: purple;">Manuals</span>
  <ul>
    <li><a href="{% static 'docs/CADS-User-Manual.pdf' %}" target="_blank">CADS User Manual</a></li>
    <li><a href="{% static 'docs/CADS-User-Components-Manual.pdf' %}" target="_blank">CADS User Components Manual</a></li>
    <li><a href="{% static 'docs/CADS-Server-Manual.pdf' %}" target="_blank">CADS Server Manual</a></li>
    <li><a href="{% static 'docs/CADS-Components-Dev-Manual.pdf' %}" target="_blank">CADS Component Development Manual</a></li>
  </ul>
</p>

<p>
  <span style="font-weight: bold; font-size: 20px; color: purple;">People and Papers</span>
  <ul>
    <li><a href="https://takahashigroup.github.io" target="_blank">CADS R&D Group</a></li>
    <li><a href="https://pubs.rsc.org/en/content/articlehtml/2020/re/d0re00098a" target="_blank">Academic CADS Paper: Catalyst Acquisition by Data Science (CADS): a web-based catalyst informatics platform for discovering catalysts</a></li>
    <li><a href="https://pubs.rsc.org/en/Content/ArticleLanding/2023/DD/D3DD00061C" target="_blank">Academic CADS Paper: Improving scientific image processing accessibility through development of graphical user interfaces for scikit-image</a></li>
  </ul>
</p>

<hr>
<hr>

<p>
  <span style="font-weight: bold; font-size: 20px; color: purple;">Latest Updates and CADS System News</span>
  <ul class="accordion" style="margin-left: 20px;">
    <li>
      <span class="toggle" style="font-size: 17px; font-weight: bold; color: orange;">What's New ⭐</span>
        <ul class="nested">
          <li>
            <span class="toggle" style="font-size: 15px; font-weight: bold; color: darkred;">March 2025</span>
            <ul class="nested" style="font-weight: bold;">
              <li>
                <span>Updates and Fixes</span>
                <ul style="font-weight: normal;">
                  <li>Network Analysis Component got an update for better color control</li>
                </ul>
              </li>
            </ul>
          </li>

          <li>
            <span class="toggle" style="font-size: 15px; font-weight: bold; color: darkred;">December 2024</span>
            <ul class="nested" style="font-weight: bold;">
              <li>
                <span>New Component</span>
                <ul style="font-weight: normal;">
                  <li>Network Analysis Component that allows all forms of netwwork data interactions</li>
                </ul>
              </li>
              <li>
                <span>Updates and Fixes</span>
                <ul style="font-weight: normal;">
                  <li>Improved The About Info for components to also include component manual URL</li>
                </ul>
              </li>
            </ul>
          </li>

          <li>
            <span class="toggle" style="font-size: 15px; font-weight: bold; color: darkred;">October 2024</span>
            <ul class="nested" style="font-weight: bold;">
              <li>
                <span>Updates and Fixes</span>
                <ul style="font-weight: normal;">
                  <li>Added About information for all components, including developers and academic papers</li>
                </ul>
              </li>
            </ul>
          </li>

          <li>
            <span class="toggle" style="font-size: 15px; font-weight: bold; color: darkred;">August 2024</span>
            <ul class="nested" style="font-weight: bold;">
              <li>
                <span>New Components</span>
                <ul style="font-weight: normal;">
                  <li>Feature Assignment component that helps with converting catalyst properties</li>
                  <li>Feature Engineering component that helps with extraction and transformation of variables from raw data</li>
                  <li>Monte Cat component which uses the Monte Cat Catalyst Descriptor Search Algorithm for Machine Learning</li>
                </ul>
              </li>
              <li>
                <span>Minor Updates and Fixes</span>
                <ul style="font-weight: normal;">
                  <li>Improved The Component Template to be more up to date and ready for component developers starting a new component</li>
                  <li>Added some info and support texts here and there for better user friendliness</li>
                </ul>
              </li>
            </ul>
          </li>

          <li>
            <span class="toggle" style="font-size: 15px; font-weight: bold; color: darkred;">December 2023</span>
            <ul class="nested" style="font-weight: bold;">
              <li>
                <span>Prototype Components with some teaser features</span>
                <ul style="font-weight: normal;">
                  <li>TensorFlow component that can analyze images in two different ways</li>
                  <li>GapMinder component with some cool animated data visualizations</li>
                </ul>
              </li>
              <li>
                <span>Bug Fixes</span>
                <ul style="font-weight: normal;">
                  <li>Server error when going to the Data Management while not logged in fixed</li>
                  <li>Changed some image icons in component forms that was not working properly on Linux and Apple OS</li>
                  <li>Fixed crash bug when switching to 'Enable Mobility' mode, efter adding some other internal (non-public) fixes</li>
                </ul>
              </li>
            </ul>
          </li>

          <li>
            <span class="toggle" style="font-size: 15px; font-weight: bold; color: darkred;">November 2023</span>
            <ul class="nested" style="font-weight: bold;">
              <li>
                <span>Data Mangement Upgrades</span>
                <ul style="font-weight: normal;">
                  <li>Fixed bug when dealing with somewhat broken and badly composed data files (no more errors showing)</li>
                  <li>More and better user feedback when uploading data files</li>
                  <li>Allow for bigger data files (from 4Mb to 10Mb)</li>
                  <li>Limit the number of private user data uploads to 25 (Public is still unlimited)</li>
                </ul>
              </li>
              <li>
                <span>New and improved Components</span>
                <ul style="font-weight: normal;">
                  <li>New CADS Violin Plot (Violin Plot) visualisation component</li>
                  <li>Alpha Teaser of a new, under development, CADS visualisation component: GapMinder (GapMinder)</li>
                  <li>Alpha Teaser of a new, under development, CADS visualisation component: TensorFlow (TensorFlow)</li>
                </ul>
              </li>
              <li>Added Latest System Update Information to website</li>
            </ul>
          </li>

          <li>
            <span class="toggle" style="font-size: 15px; font-weight: bold; color: darkred;">September 2023</span>
            <ul class="nested" style="font-weight: bold;">
              <li>Detailed User manuals for all aspects of CADS use and additional development</li>
              <li>
                <span>New and improved Components</span>
                <ul style="font-weight: normal;">
                  <li>New CADS Line Chart (Line) visualisation component final release</li>
                  <li>New CADS Statistics Visualisation (Statistics) component final release</li>
                  <li>New Bar Chart (Bar) visualisation component final release</li>
                  <li>New Gaussian Process Regression (Gaussian Process) visualisation component final release</li>
                  <li>New K-Means Clustering (KMeansCluster) visualisation component final release</li>
                  <li>Updated CADS Scatterplot (Scatter) visualisation component from beta to final release</li>
                  <li>Updated CADS HeatMap visualisation component from beta to final release</li>
                  <li>Updated CADS PairwiseCorrelation visualisation component from beta to final release</li>
                </ul>
              </li>
            </ul>
          </li>

          <li>
            <span class="toggle" style="font-size: 15px; font-weight: bold; color: darkred;">June 2023</span>
            <ul class="nested" style="font-weight: bold;">
              <li>Bugfixed the Data Management System</li>
              <li>Bugfixed Admin System</li>
              <li>Re-categorize, re-order and re-sort CADS components for improved user experience</li>
              <li>
                <span>Improved Components</span>
                <ul style="font-weight: normal;">
                  <li>Updated CADS Table (Table) visualisation component from beta to final release</li>
                  <li>Updated CADS Image Analyzing (ImageView) visualisation component from beta to final release</li>
                  <li>Updated CADS Parallel Coordinates (Parallel Coordinates) visualisation component from beta to final release</li>
                </ul>
              </li>
            </ul>
          </li>

          <li>
            <span class="toggle" style="font-size: 15px; font-weight: bold; color: darkred;">Prior to April 2023 but After March 2021 (Some notable mentions)</span>
            <ul class="nested" style="font-weight: bold;">
              <li>Various Bugfixes, visual updates and User interation feedbacks added</li>
              <li>
                <span>New and Improved Components</span>
                <ul style="font-weight: normal;">
                  <li>CADS Pie Chart (Pie) visualisation component</li>
                  <li>CADS Scatter 3D (Scatter3D) visualisation component</li>
                  <li>CADS Node Graph (NodeGraph) visualisation component</li>
                  <li>CADS Periodic Table (Periodic Table) visualisation component</li>
                  <li>CADS Molecule 3D (Molecule3D) visualisation component</li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
    </li>
  </ul>
</p>

<hr>

<script>
    // JavaScript to toggle the active class on click
    document.querySelectorAll('.toggle').forEach(function (toggle) {
        toggle.addEventListener('click', function () {
            this.classList.toggle('active');
        });
    });
</script>

{% endblock %}
