/*=================================================================================================
// Project: CADS/MADS - An Integrated Web-based Visual Platform for Materials Informatics
//          Hokkaido University (2018)
// ________________________________________________________________________________________________
// Authors: Jun Fujima (Former Lead Developer) [2018-2021]
//          Mikael Nicander Kuwahara (Current Lead Developer) [2021-]
// ________________________________________________________________________________________________
// Description: This is the CSS styles for 'CmvBase' and related components
// ------------------------------------------------------------------------------------------------
// Notes: 'CmvBase' is the main workspace area of the analysis page that provides us with
//        possibilities that allows us to add different views (visualization components) in order
//        to study the selected data.
// ------------------------------------------------------------------------------------------------
// References: None
=================================================================================================*/

/*-----------------------------------------------------------------------------------------------*/
.base-container {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
  margin: 5px;
}
/*-----------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------*/
.view-container {
  display: inline-block;
  flex: auto;
  margin: 5px;
  vertical-align: top;
  order: 0;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  border: 1px solid rgba(34, 36, 38, 0.15);
  border-radius: 0.28571429rem;
  box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
}
/*-----------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------*/
.view-contents {
  display: flex;
}
/*-----------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------*/
.ui.custom-btn-color.button {
  background-color: LemonChiffon;
  color: black;
}

.ui.custom-btn-color.button:hover {
  background-color: rgb(223, 216, 159);
}
/*-----------------------------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------------------------*/
a.infohelp{
  color: blue;
  text-decoration: none;
}
/*-----------------------------------------------------------------------------------------------*/
