{% comment %}
#=================================================================================================
# Project: CADS/MADS - An Integrated Web-based Visual Platform for Materials Informatics
#          Hokkaido University (2018)
# ________________________________________________________________________________________________
# Authors: Jun Fujima (Former Lead Developer) [2018-2021]
#          Mikael Nicander Kuwahara (Current Lead Developer) [2021-]
# ________________________________________________________________________________________________
# Description: (Django) the template for the base_simple page of the web application
# ------------------------------------------------------------------------------------------------
# Notes:  This is the base_simple template file used for registration part of the app
# ------------------------------------------------------------------------------------------------
# References: ga.html (Google Analytics)
#=================================================================================================
{% endcomment %}

{% load render_bundle from webpack_loader %}
{% load static %}


<!doctype html>
<html>

<head>

  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{% static PROJECT_FAVICON_PATH %}">

  <!-- Site Properties -->
  <title>{% block title %}{% endblock %}</title>

  <!-- Webpack rendered CSS -->
  {% render_bundle 'main' 'css' 'COMMON' %}

  <!-- django-js-reverse -->
  <script src="{% url 'js_reverse' %}" type="text/javascript"></script>

  <!-- Webpack rendered Javascript -->
  {% render_bundle 'main' 'js' 'COMMON' %}

  <style type="text/css">
    body {
      background-color: #DADADA;
    }

    body>.grid {
      height: 100%;
    }

    .image {
      margin-top: -100px;
    }

    .column {
      max-width: 450px;
    }

  </style>


  <!-- Global site tag (gtag.js) - Google Analytics -->
  {% if GOOGLE_ANALYTICS_TRACKING_ID %}
  {% include 'ga.html' %}
  {% endif %}

</head>

<body>

  <div class="ui middle aligned center aligned grid">
    <div class="column">
      {% block content %}
      {% endblock %}
    </div>
  </div>
</body>

</html>
